version: "3.8"

services:
  app_blue:
    image: "${DOCKER_HUB_USERNAME}/snapping-be-app:${IMAGE_TAG}"
    container_name: snapping-be-app-blue
    restart: always
    env_file:
      - /home/ubuntu/snapping-be-app/.env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      TZ: Asia/Seoul
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health || exit 1"]
    networks: [backend]

  app_green:
    image: "${DOCKER_HUB_USERNAME}/snapping-be-app:${IMAGE_TAG}"
    container_name: snapping-be-app-green
    restart: always
    env_file:
      - /home/ubuntu/snapping-be-app/.env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      TZ: Asia/Seoul
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health || exit 1"]
    networks: [backend]

  dozzle:
    image: amir20/dozzle
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks: [backend]

  nginx:
    image: nginx:1.27-alpine
    container_name: snapping-be-app-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks: [backend]

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks: [ backend ]

networks:
  backend:
