spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop


jwt:
  secret: dGVzdC1zZWNyZXQtdGVzdC1zZWNyZXQtdGVzdC1zZWNyZXQ=
  expiration-time: 3600
  refresh-token-ttl-seconds: 3600

kakao:
  auth:
    client: test-client-id


auth:
  cookie:
    secure: false

cors:
  allowed-origins: http://localhost:8080