spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

    properties:
      hibernate:
        format_sql: true

        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

kakao:
  auth:
    client: ${KAKAO_CLIENT_ID}

jwt:
  secret: ${JWT_SECRET}
  expiration-time: ${JWT_EXPIRATION_TIME}
  refresh-token-ttl-seconds: 1209600

auth:
  cookie:
    secure: false